html {
    min-width: 216px;
    height: 100%;
    width: 100%;
    font-family: "Arial Black", Arial, sans-serif;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
}
p {
    margin: 0;
    text-align: center;
    font-family: Arial, serif;
}
br {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
::-webkit-scrollbar {
    display: none;
}
:root {
    --design-color: #4b4b4b;
    --bulletAni-end: 0;
}

#introContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    -webkit-animation-name: introContainerAni;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: linear;
}
#introBackground {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    background-color: var(--design-color);
    -webkit-animation-name: introBackgroundAni;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: linear;
}
#introLogo {
    position: absolute;
    height: 30vh;
    -webkit-animation-name: introLogoAni;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: linear;
}
#introLogoWhite {
    position: absolute;
    height: 30vh;
    -webkit-animation-name: introLogoWhiteAni;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes introContainerAni {
    0% {opacity: 1}
    80% {opacity: 1}
    100% {opacity: 0}
}
@-webkit-keyframes introBackgroundAni {
    0% {opacity: 1}
    50% {opacity: 1}
    50% {background-color: var(--design-color);}
    60% {opacity: 0}
    100% {opacity: 0}
}
@-webkit-keyframes introLogoAni {
    0% {opacity: 0}
    50% {opacity: 0}
    60% {opacity: 1}
    80% {opacity: 1}
    100% {opacity: 0}
}
@-webkit-keyframes introLogoWhiteAni {
    0% {opacity: 1}
    50% {opacity: 1}
    60% {opacity: 0}
    100% {opacity: 0}
}
@-webkit-keyframes introGameScreenAni {
    0% {opacity: 0}
    80% {opacity: 0}
    100% {opacity: 1}
}

#eastereggButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;

    filter: blur(0px);
    color: white;
    font-family: Arial, sans-serif;
}
#bg-img {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
}
#mainField {
    width: 100%;
    height: 100%;
    filter: blur(0px);
    overflow: hidden;
}

/*----- Menu Bar -----*/
#actionBar {
    z-index: 99;
    position: relative;
    width: 100%;
    min-height: 72px;
    height: 12.5%;

    background-color: var(--design-color);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.barElement {
    display: inline-block;
    width: 33.3333333333%;
    height: 100%;
    margin: 0;
    padding: 0;

    cursor: pointer;
    background: no-repeat center;
    background-size: auto;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#barElement-l {
    background-image: url("assets/podium.svg");
}
#barElement-m {
    color: white;
    font-size: 50px;
    text-align: center;
    vertical-align: top;
}
#barElement-r {
    background-image: url("assets/config.svg");
}
#points {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 8vh;
}
/* if height < 600px (or actionBar doesn't get smaller) -> fixed size of points */
@media screen and (max-height: 600px){
    #points {
        font-size: 50px;
    }
}
#playButtonContainer {
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}
#playButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;

    cursor: pointer;
    border: solid white 4px;
    border-radius: 25px;
    text-align: center;
    font-size: calc(2vh + 1vw);

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*----- Highscore Screen -----*/
#podium {
    position: relative;
    width: 100%;
    height: 188px;
    text-align: center;
    color: black;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.rankName {
    position: relative;
    bottom: -80px;
    word-break: break-all;
}
#rank1 {
    position: absolute;
    width: 30%;
    height: 41%;
    left: 35%;
    top: 7%;
    background-size: auto;
    background: url("assets/pokal-1.svg") no-repeat center;
}
#rank2 {
    position: absolute;
    width: 46%;
    height: 41%;
    left: 3%;
    top: 40%;
    background-size: auto;
    background: url("assets/pokal-2.svg") no-repeat center;
}
#rank3 {
    position: absolute;
    width: 46%;
    height: 41%;
    left: 51%;
    top: 40%;
    background-size: auto;
    background: url("assets/pokal-3.svg") no-repeat center;
}

#hsTableContainer {
    overflow-y: auto;
}
#hsTableHeaderContainer th {
    color: white;
    background-color: var(--design-color);
}
#hsTableHeader {
    width: 100%;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#hsHeader-points {
    min-width: 64px;
}
#hsHeader-name {
    width: 100%;
}
#hsHeader-date {
    min-width: 83px;
}

#hsTable {
    width: 100%;
    word-break: break-all;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#hsTable > tr > td {
    font-family: Arial, serif;
}

#firework {
    z-index: 2;
    position: fixed;
    right: 0;
    left: 0;
    margin: auto;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
/*----- Game Screen -----*/
#gsScreen {
    width: 100%;
    height: 100%;
    background: url("assets/background.jpg") no-repeat center;
    background-size: cover;
}
#hsScreen {
    display: none;
}
#isScreen {
    display: none;
}

.actionField {
    position: relative;
    width: 100%;
    height: 87.5%;
    bottom: 0;

    background-color: #ffffff;
}
#startButton {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    min-width: 100px;
    width: 60%;
    height: 20%;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;

    cursor: pointer;
    border: solid var(--design-color) 4px;
    border-radius: 35px;
    text-align: center;
    font-size: 8vh;
    color: var(--design-color);

    -webkit-animation-name: introGameScreenAni;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: linear;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#lifesaverProgress {
    display: none;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;

    background: url("assets/lifesaver.svg") no-repeat center;
    /*background-size: 65%; --> moved to JS function updateProgressBar*/
    background-position-y: 55%;
}
#lifesaverCountdown {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;

    font-size: 13vh;
    color: var(--design-color);

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*----- Info Screen -----*/
#configContainer {
    overflow-y: auto;
}

#playernameTable {
    left: 0;
    right: 0;
    margin: auto;
    width: 50vw;
    min-width: 242px;
    border-spacing: 0;
    border: 2px solid var(--design-color);
    border-top-width: 0;
    font-family: Arial, serif;
    background-color: var(--design-color);

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#playernameLabel {
    font-size: 15pt;
    background-color: var(--design-color);
    color: white;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#playername {
    position: relative;
    padding: 15px;
    border: solid var(--design-color);
    font-size: 15pt;
    width: 200px;

    border-radius: 20px;
}
#playername:focus {
    outline: none;
}

#statsTable {
    left: 0;
    right: 0;
    margin: auto;
    width: 50vw;
    min-width: 242px;
    border-spacing: 0;
    border: 2px solid var(--design-color);
    border-top-width: 0;
    font-family: Arial, serif;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#statsTitle {
    font-size: 15pt;
    color: white;
    background-color: var(--design-color);

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#designTable {
    left: 0;
    right: 0;
    margin: auto;
    width: 50vw;
    min-width: 242px;
    border-spacing: 0;
    border: 2px solid var(--design-color);
    border-top-width: 0;
    font-family: Arial, serif;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#designTitle {
    font-size: 15pt;
    color: white;
    background-color: var(--design-color);

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#design-bar {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}
#design-it {
    background-color: #5F338B;
}
#design-mt {
    background-color: #008831;
}
#design-mb {
    background-color: #008DC2;
}
#design-et {
    background-color: #B50A11;
}
#design-ch {
    background-color: #F59A05;
}
.design-item {
    margin: 0 5px;
    height: 6vw;
    width: 6vw;
    min-height: 29px;
    min-width: 29px;

    cursor: pointer;
    border-radius: 50%;
    background-color: #4b4b4b;
    background-size: cover;
}

#credits {
    display: flex;
    justify-content: center;
    align-items: center;
}
#htlLogo {
    height: 75px;
    width: 75px;
    left: 0;
    right: 0;
    margin: auto;

    cursor: pointer;
    background: url("assets/htl-logo-raw.png") no-repeat center;
    background-size: contain;
}

#footer {
    position: fixed;
    width: 100%;
    height: 45px;
    bottom: 2%;
}
#resetButton {
    z-index: 2;
    position: fixed;
    width: 45px;
    height: 45px;
    left: 2%;

    cursor: pointer;
    background-image: url("assets/wastebin-closed.svg");
}
#muteMusicButton {
    z-index: 2;
    position: fixed;
    width: 45px;
    height: 45px;
    right: calc(2% + 10%);

    cursor: pointer;
    background-image: url("assets/music-on.svg");
}
#muteAudioButton {
    z-index: 2;
    position: fixed;
    width: 45px;
    height: 45px;
    right: 2%;

    cursor: pointer;
    background-image: url("assets/audio-on.svg");
}
#resetButton:hover {
    background-image: url("assets/wastebin-open.svg");
}

#lang-bar {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 45px;
}
#lang-at {
    background: url("assets/lang-at.svg") no-repeat;
}
#lang-en {
    background: url("assets/lang-en.svg") no-repeat;
}
#lang-ba {
    background: url("assets/lang-ba.svg") no-repeat;
}
#lang-pc {
    background: url("assets/lang-pc.jpg") no-repeat;
    background-size: cover;
}
.lang {
    margin: 0 5px;
    height: 100%;
    width: 45px;

    cursor: pointer;
    border-radius: 50%;
    background-color: #4b4b4b;
    background-size: cover;
}

/*----- Game -----*/
#discHitBox {
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 37%;
    bottom: 0;
}
#disc {
    z-index: 98;
    position: fixed;
    bottom: 2%;
    /*left: 0;
    right: 0;    -> resizeDisc() in HTLWelsRush.js
    margin: auto;*/
    transform: rotate(36deg);

    background: url("assets/disc.svg") no-repeat center;
    transition: 0.2s;

    -webkit-animation-name: introGameScreenAni;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: linear;
}
#disclogo {
    display: none;
    z-index: 100;
    position: fixed;
    pointer-events: none;
    background: url("assets/htl-logo-outline.png") no-repeat center;
    background-size: cover;
}
#bullet {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 97;
    position: relative;
    height: 20px;
    width: 20px;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 2.5vh;

    background-color: #4b4b4b;
    color: white;
    border-radius: 50%;

    -webkit-animation-timing-function: linear;
    -webkit-backface-visibility: hidden;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
@-webkit-keyframes bullet_ani {
    0% {transform: translateY(-100%)}
    100% {transform: translateY(var(--bulletAni-end))}
}

/*----- Desktop View -----*/
@media screen and (min-width: 533px) {
    #bg-img {
        position: fixed;
        top: -5%;
        left: -5%;
        width: 110%;
        height: 110%;
        background: url("assets/htl-bg.jpg") no-repeat center;
        background-size: cover;
        filter: blur(10px);
    }
    #mainField {
        width: 533px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #startButton {
        height: auto;
        width: 60%;
    }

    #playernameTable {
        max-width: 400px;
    }
    #statsTable {
        max-width: 400px;
    }
    #designTable {
        max-width: 400px;
    }
    .design-item {
        max-height: 55px;
        max-width: 55px;
    }

    #footer {
        position: absolute;
    }
    #resetButton {
        position: absolute;
    }
    #muteMusicButton {
        position: absolute;
    }
    #muteAudioButton {
        position: absolute;
    }
    #lang-bar {
        position: absolute;
    }
}

@media screen and (min-width: 600px){
    #mainField {
        width: calc(533px + 10vw);
    }
}

/*----- Easter Eggs -----*/
@-webkit-keyframes inception {
    0% {transform: scale(1) rotate(0)}
    100% {transform: scale(3) rotate(9000deg)}
}

.snake {
    position: fixed;
    display: none;  /* will turn flex in JS */
    justify-content: center;
    align-items: center;
    height: calc(2vh + 2vw);
    width: calc(2vh + 2vw);
    transform: translate(-50%, -50%);

    font-size: calc(1vh + 1vw);
    color: white;
    background-color: #4b4b4b;
    border-radius: 50%;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#snakeHead {
    background-color: #5F338B;
}
#snakeBody1 {
    background-color: #008831;
}
#snakeBody2 {
    background-color: #008DC2;
}
#snakeBody3 {
    background-color: #B50A11;
}
#snakeBody4 {
    background-color: #F59A05;
}